/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');


:root {
    --color1: #101214;
    --color2: #7A7C80;
    --color3: #fff;
    --color4: rgb(180, 180, 180);
    --color5: #2c837a;
    --color6: rgb(150, 150, 150);
    --color7: #40c2b5;
    --color8: rgb(52, 52, 54);
}
.color1 { color: var(--color1); }
.color2 { color: var(--color2); }
.color3 { color: var(--color3); }
.color4 { color: var(--color4); }
.color5 { color: var(--color5); }
.color6 { color: var(--color6); }
.color7 { color: var(--color7); }

.border-color{border-color:var(--color5) !important}
.bg-color{background-color:var(--color5) !important}

html {
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color1);
    color: var(--color4);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    font-size: 1.1rem;
}

.section-divider {
    height: 20px;
    background-image: url("../images/section-divider.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
    background-position: 50% 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bold{
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.fa-link, .fa-external-link-alt {
    font-size: 0.7rem;
}

.footer-container {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.thanks-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5rem;
}

.copyright-text {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

.project-footer-container {
    margin-top: 50px;
    color: var(--color2);
    text-align: center;
}

@media (max-width: 800px) {
    .project-footer-container {
        margin-top: 75px;
    }

    .project-footer-container h5 {
        font-size: 0.9rem;
    }
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(255, 255, 255, 0); /* Set a background color */
    color: var(--color7); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 26px; /* Increase font size */
}
  
#topBtn:hover {
      color: var(--color5)
  }

#btnHome {
    position: fixed; /* Fixed/sticky position */
    top: 15px; /* Place the button at the bottom of the page */
    left: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font-size: 26px; /* Increase font size */
    color: var(--color3);
    text-decoration: none;
}

#btnHome:hover {
    color: var(--color2);
    text-decoration: none;
}

@media (max-width: 800px) {
    #btnHome {
        position: relative;
        top: 15px;
        left: 15px;
    }
}