body {
    background-color: var(--color3);
    color: var(--color2);
}

section {
    padding-top: 50px;
}

h2, h3 {
    font-weight: bold;
}

.section-title {
    text-align: center;
}

.section-light {
    background-color: var(--color3);
    color: var(--color2);
}

.section-light h2, .section-light h3 {
    color: var(--color8);
}

.section-dark {
    background-color: var(--color1);
    color: var(--color2);
}

.section-dark h2, .section-dark h3 {
    color: var(--color6);
}

.project-footer-container {
    padding-bottom: 20px;
}

.short-txt {
    font-size: 0.9rem;
    text-align: justify;
}

#intro ul {
    font-size: 0.9rem;
    text-align: center;
    list-style: inside;
}

#intro li {
    list-style-type: none;
    padding-top: 10px;
}

#intro-img {
    max-width: 350px;
}

.techno-txt {
    font-size: 0.8rem;
    color: var(--color5);
    text-align: center;
}

#intro {
    padding-bottom: 50px;
}
