section {
    padding-top: 50px;
}

@media (min-width: 800px) {
    .margin-fluid-container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

h2, h3 {
    font-weight: bold;
}

.project-footer-container {
    padding-bottom: 20px;
}

.title {
    text-align: center;
}

.title-left {
    text-align: left;
    padding-left: 25px;
}

p {
    text-align: justify;
    font-size: 0.9rem;
}

#intro-section {
    margin-top: -55px;
    padding-top: 105px;
}

#intro-section .col-md-6 {
    padding-bottom: 25px;
}

#prototype-section .col-md-12 * {
    padding-bottom: 25px;
}

#video-section {
    padding-bottom: 100px;
}

#videos-carousel .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    left: 0px;
    z-index: 10;
    color: var(--color3);
    text-align:center;
    bottom: 0px;
}

#videos-carousel .carousel-caption p, #videos-carousel .carousel-caption h3 {
    text-align: center;
    color: var(--color3);
}

#videos-carousel .carousel-control-prev {
    top: 90%;
    left: 15%;
    z-index: 10;
}

#videos-carousel .carousel-control-next {
    top: 90%;
    right: 15%;
    z-index: 10;
}

.modal-lg {
    max-width: 80% !important;
}

#myModal {
    max-height: 100vh;
}

.img-gallery-item {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.carousel-caption-dark h5 {
    color: var(--color1);
    text-align: center;
}

.carousel-caption-dark p {
    color: var(--color2);
    text-align: center;
}

.carousel-caption-light h5 {
    color: var(--color3);
    text-align: center;
}

.carousel-caption-light p {
    color: var(--color4);
    text-align: center;
}

#myModal {
    position: fixed;
}

.modal-body .carousel-indicators li {
    background-color: var(--color2);  
}

.modal-body .carousel-indicators .active {
    background-color: var(--color1);
}

.row-thumbnails {
    min-height: 200px;
    padding: 10px;
}

.div-thumbnails {
    height: 200px;
    width: 200px;
    background-color: var(--color3);
    border-radius: .25rem;
    border: 1px solid var(--color4);
    margin: 10px 10px ;
    display: flex;
}

.div-thumbnails img {
    max-width: 200px;
    max-height: 200px;
    margin: auto auto;
    padding: 5px;
}